@import "base.css";

div.contenedor {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1em;
}

nav.navegacion-alquiler{
    grid-column: 2/11;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}
div.contenido-izquierdo{
    grid-column: 2/12;
}
div.contenido-central{
    grid-column: 2/12;
}
div.contenido-derecho{
    grid-column: 2/12;
}



/* Menu alquiler */
nav.navegacion-alquiler > a{
    text-decoration: none;
    text-align: center;
    padding: 0 9px;
    margin: 5px;
    border-radius: 7px;
    align-self: center;
    font: 800 1em roboto;
    transition: 0.7s ease;
}

a.eliminar {
    background: hsla(0,70%,50%,0.5);
    color: white;
    text-decoration: none;
}
a.agregar{
    background: hsla(120,70%,50%,0.5);
    color: white;
    font: 1.2em roboto;
    text-decoration: none;
}

a.eliminar:hover{
    background: hsla(0,70%,50%,0.9);
    color: white;
    text-decoration: none;
    font: 1.3em roboto;
}
a.agregar:hover{
    background: hsla(120,70%,50%,0.9);
    color: white;
    text-decoration: none;
    font: 1.2em roboto;
}

/* Tarjeta central */
div.contenido-central > a {
    color:black;
    text-decoration: none;
}
div[class^="tarjeta"]{
    border: 1px solid silver;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width: 100%;
    font: 1em roboto;
    border-radius: 5px;
    transition: 0.5s ease;
    margin: 10px 0;
}
div[class^="tarjeta"]:hover{
    background: hsla(100,100%,90%,0.4)
}

div[class^="tarjeta"] > div{
    margin: 10px 0 0 0;
}

div[class^="tarjeta"] > div > p{
    margin:0;
    text-align: center;
}

div[class^="tarjeta"] > img{
    display:block;
    margin: 15% auto auto auto;
    height: 70%;
    
}

div.tarjeta-pagos{
    grid-template-columns: 0.4fr 1.6fr;
}

div.tarjeta-pagos > a div.carta-pago > p{
    margin: 0 0;
    text-align: center;
    text-decoration: none;
    color: black;
}



div.tarjeta-pagos > a.eliminar{
    grid-column: 1/3;
    display: block;
    color: white;
    margin: auto;
    font: 800 0.9em roboto;
    width: 33.33%;
    text-align: center;
    border-radius: 5px;
}
/* Visual inquilino */
form.visual-inquilino {
    grid-column: span 2;
}

form.visual-inquilino > *{
    display:block;
    margin: auto;
    text-align: center;
    width: 92%;
}
form.visual-inquilino > input[type="submit"]{
    background: lightgreen;
}

/* Formulario de Notas */
form[class^="form"]{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 0.9fr);
}
form[class^="form"] > h3{
    grid-column: 1/3;
    text-align: center;
}
form[class^="form"] > label{
    grid-column: 1/3;
}
form[class^="form"] > textarea{
    grid-column: 1/3;
    grid-row: span 3
}
form[class^="form"] > input{
    grid-column: 1/3;
}
#cantidad {
    grid-column:1/2;
}

.g-recaptcha {
    transform:scale(0.66);
    transform-origin:0 0;
}

/* Mediaquery  */
@media(min-width: 600px){

div.contenido-izquierdo{
    grid-column: 1/5;
}
div.contenido-central{
    grid-column: 5/9;
}
div.contenido-derecho{
    grid-column: 9/13;
}
div[class^="tarjeta"]{
    border: 1px solid silver;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    column-gap: 1em;
    margin: 10px 20% 0 20%;
    width: 60%;
    
}
form.form-nota > textarea{
    grid-column: 1/3;
}
form.form-nota > input{
    grid-column: 1/3;
}  
}
