@import "base.css";

div[class*="lateral"] {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr;
}

div[class*="tarjeta"] {
    margin: auto;
    width: 70%;
    height: 130px;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
}
div.formulario {
    width: 70%;
    margin:auto;
}

@media(min-width: 600px){
div[class*="lateral"] {
    grid-column: span 2;
}  
}
