@font-face {
    font-family: "spectral";
    src: url("/static/fonts/Spectral/Spectral-Regular.ttf")
}
@font-face {
    font-family: "oswald";
    src: url("/static/fonts/Oswald/Oswald-VariableFont_wght.ttf")
}

@font-face {
    font-family: "roboto";
    src: url("/static/fonts/Roboto/Roboto-Regular.ttf")
}

html, body {
    margin: 0;
    border:0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* @@@@@@@@@@@@@@@@@@ NAVBAR @@@@@@@@@@@@@@@@@@@2 */
nav#navegador, div.cabezera, div.visual-body, footer#footer, .flashes, .alert{
    display: inline-flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* border: 1px solid blue; */
    background: hsl(0 20% 97%);
    grid-column: 1/7
}

.owner-options{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* border: 1px solid blue; */
    grid-column: 2/5;
    text-align: center;
}

.owner-options > a {
    margin-right: 15px;
    padding: 10px;
    background: hsla(250, 90%, 50%, 0.05);
    border-radius: 10px;
    text-decoration: none;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    color: black;
    transition: 0.7s ease;
    height: 40px;
}

.owner-options > a:hover {
    background: hsla(250, 90%, 50%, 0.1);
}

nav#navegador > div#nav-left {
    /* display: flex; */
    flex: auto;
    align-content: center;
    justify-content: center;
}

nav#navegador > div{
    margin: 10px 10px 10px 10px;
    padding: 3px;
}

nav#navegador a{
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    transition: 0.4s ease;
    text-decoration: none;
}

nav#navegador a:hover{
    border: 1px solid white;
    background: white;
    border-radius: 7px;
}

div.cabezera {
    justify-content: center;
}
div.cabezera > h1 {
    font: 27px spectral;
}

#footer {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

#footer a{
    text-decoration: none;
    color: hsl(230 80% 20%);
}

.social{
    margin-top: 30px;
}

.redes {
    padding: 0 20px;
}
