@import "base.css";
/* Tamanos */
body > div.visual-body{
    background: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}
.visual-left{
    grid-column:1/12;
    min-width: 100%;
    
}
.visual-right{
    grid-column:1/12;
    min-width: 100%;
    margin-left: 1em;
    margin-top: 39px;

}
.home-visual {
    grid-column:1/12;
    min-width: 100%;
}

.home-post{
    /* border: 1px solid black; */
    padding: 25px;
    margin: 1.3em 1em 1em 1em ;
    background: hsl(300 7% 98%);
    box-shadow: 10px 10px 8px #888888;
		
}

.post-central {
    grid-column:1/12;
    min-width: 100%;
}
/* Central  */

div.home-visual > div.home-post > a {
    text-decoration: none;
    color: black;
}
div.home-visual > div.home-post > a > h1 {
    text-align: center;
    font: bold small-caps 30px "Liberation Serif";}

div.home-visual > div.home-post > a > p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
    font-variant: small-caps;
}

div.home-post > div.home-tags-container {
    display:flex;
    flex-direction:column;
    text-align: center;
}

div.home-post > div.home-tags-container a{
    text-decoration: none;
}

div.home-post > div.home-tags-container a.home-tag {
    padding: 0 10px;
    color: black;
}

 /* Barra Lateral */
.visual-right {
    display: flex;
    flex-direction: column;
    magin-top: 20px;
}

/* Post Recientes */
div.visual-right > div.posts-recientes {
    margin: 0.3em 1em 1em 1em;
    display:grid;
    grid-template-columns: 1fr;
    background: hsl(300 7% 97%);
    box-shadow: 10px 10px 8px #888888;
    justify-content:center;
}

div.visual-right > div > a{
    text-decoration: none;
    font: small-caps bold 1em sans-serif;
    color: black;
    padding: 10px 10px;
    transition: 0.8s ease;
}


/* Tags */

div.visual-right > div.tags-usados {    
    margin: 0.3em 1em 1em 1em;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background: hsl(300 7% 97%);
    box-shadow: 10px 10px 8px #888888;
    padding: 0 0 0 10px;
    transition: ease;
    text-align: center;
    
}

div.visual-right > div > a:hover{
    background: white;
    border-radius: 10px;
}

div.visual-right > div.titulo > h3 {
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    text-align: center;
}


/* Post Individual */
body > div.visual-body > div.post-central {
    margin: 4px 0 0 0;
    display:flex;
    flex-direction: column;
    background: hsl(300 7% 97%);
    box-shadow: 10px 10px 8px #888888;
    transition: ease;
}

.post-central > h1 {
    text-align: center;
    font: bold small-caps 2em serif;
    margin-bottom: 0;
    margin-top: 20px;
}

.post-central > * {
    margin: 0 20px 10px 25px;
}

.post-central > .descripcion {
    margin-top: 15px;
    margin-bottom: 15px;
}
.post-central > .descripcion > small > a, .post-central > .descripcion > small {
    text-decoration: none;
    color: silver;
}

.post-central > div.contenido > p.parrafadas {
    margin: 0 20px 20px 25px;
}

.visual-body > .post-central > .contenido > blockquote{
    background: hsla(50, 10%, 50%, 0.07);
    border-left: 3px solid black;
    width: 80%;
    margin-left: 10%;
    padding: 0 3%;
    
}

blockquote > p{
    display: inline;
    color: hsla(250, 50%, 50%, 0.5);
    font: italic 1em roboto;
}

/* Tags  */
.post-central > div.tags {
    border-top: 0.5px solid silver ;
    margin-bottom: 30px;
}

.post-central > div.tags > a {
    text-decoration:none;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    background:  hsl(300 7% 93%);
    transition: 0.7s ease;
    border-radius: 8px;
}
.post-central > div.tags > a:hover {
    background: white;
}

/* Comentario  */

div.comentarios > p.comentarios {
    text-align: right;
    border-bottom: 1px solid silver;
    
}

div.comentarios > form  > div > textarea{
    width: 350px;
    height: 8g0px;
	   
}

.comment > .c-username, .comment > .c-date {
    margin-top: 0;
    margin-bottom:0;
    color: hsl(210 9% 70%);
    font: 12px serif;    
}
div.comment > p.c-comment{
    font: 13px sans-serif;
}

div.comment:nth-child(odd) {
    background:white;
}
/* ################# Crea Post ############ */
.crea-post{
    grid-column: 1/7;
    display: flex;
}
.crea-post > form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.titulo {
    grid-column: 1/13
}
body > visual-body > post-central > .contenido {
    grid-column: 1/13;
    font: normal 1.3em roboto;
    width: 94%;
    text-align: justify;
    text-justify: inter-word;
}
.post-central > .contenido > pre {
    background: hsla(0,15%,50%,0.1);
    border-radius: 3px;
    font: 17px sans-serif;
		
}
.tags{
    grid-column: 1/13
}
input[type="submit"] {
    grid-column: 1/13;
    background: darkgreen;
    color:white;
    height: 40px;
    font: 800 small-caps 1.3em roboto;
}

@media(min-width: 600px){
.visual-left{
    grid-column:1/3;
    min-width: 100%;
    
}
.visual-right{
    grid-column:8/12;
    min-width: 100%;
    margin-left: 1em;
    margin-top: 39px;

}

.home-visual {
    grid-column:4/8;
    min-width: 100%;
}

.post-central {
    grid-column: 3/8
}
.crea-post{
    grid-column: 2/6;
}
    
.crea-post{
    grid-column: 2/6;
    display: flex;
}
.crea-post > form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.titulo {
    grid-column: 4/11;
    margin: 1em;
}
.contenido {
    grid-column: 4/11;
}
.tags{
    grid-column: 4/11;
    margin: 1em;
}
input[type="submit"]{
    grid-column: 5/10;
    background: darkgreen;
    color:white;
    height: 40px;
    font: 800 small-caps 1.3em roboto;
}
}
