@import 'base.css';

.opciones > div {
    min-height: 20vmin;
    transition: 0.7s ease;
}


.opciones{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.opciones a {
    text-decoration: none;
    color:black;
    font: 2em serif;
}

.alquiler{
    grid-column: 2/3;
}
.blog{
    grid-column: 2/3;
}
.ciudadanos{
    grid-column: 2/3;
}
.mapas{
    grid-column: 2/3;
}
div.alquiler:hover, div.alquiler:active, div.alquiler:focus{
    background: hsla(120, 80%, 50%, 0.3);
 
}
div.blog:hover, div.blog:active, div.blog:focus{
    background: hsla(250, 80%, 50%, 0.3);
 }
.ciudadanos:hover, .ciudadanos:active, .ciudadanos:focus{
    background: hsla(20, 80%, 50%, 0.3);
 }
.mapas:hover,.mapas:active, .mapas:focus {
    background: hsla(70, 80%, 50%, 0.3);}


@media (min-width: 600px) {

.opciones{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.alquiler{
    grid-column: 2/3;
}
.blog{
    grid-column: 3/4;
}
.ciudadanos{
    grid-column: 2/3;
}
.mapas{
    grid-column: 3/4;
}
/* .alquiler:hover, .alquiler:active, .alquiler:focus{ */
    /* background: hsla(120, 80%, 50%, 0.3); */
 
/* } */
/* .blog:hover, .blog:active, .blog:focus{ */
    /* background: hsla(250, 80%, 50%, 0.3); */
 /* } */
/* .ciudadanos:hover, .ciudadanos:active, .ciudadanos:focus{ */
    /* background: hsla(20, 80%, 50%, 0.3); */
 /* } */
/* .mapas:hover,.mapas:active, .mapas:focus { */
    /* background: hsla(70, 80%, 50%, 0.3); } */
}



