@import 'base.css';

div.contenedor {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(12, 1fr)

}
div.contenedor > div.lateral-izquierdo{
    grid-column: 1/4;
}
div.contenedor > div.lateral-izquierdo > form {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr;
    grid-row-gap: 0.7em;
}
div.contenedor > div.lateral-izquierdo > h3 {
    grid-column: 2/4;
    text-align: center;
}
div.contenedor > div.lateral-izquierdo > form > label {
    grid-column: 2/3;
}
div.contenedor > div.lateral-izquierdo > form > input {
    grid-column: 3/4;
}
div.contenedor > div.lateral-izquierdo > form > textarea {
    grid-column: 2/4;
}
div.contenedor > div.lateral-izquierdo > form > input[type="submit"]{
    grid-column: 2/4
}
