@import "base.css";

.inicio{
    grid-column: 1/7;
}

.inicio > form > div > h3 {
    text-align: center;
}

.login{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1em;
}

.login > div {
    grid-column: 1/2;
    text-align: center;
}


@media(min-width: 600px){
.inicio{
    grid-column: 3/5;
}

.inicio > form > div > h3 {
    text-align: center;
}

.login{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.login > div {
    grid-column: 1/2;
    text-align: center;
}
.login > input{
    grid-column: 1/2;
}

}
