@import "base.css";

.init {
    grid-column: 2/3;
    
    background: hsla(210, 0%, 25%, 0.3);
    border-radius: 15px;
}

main > form > div{
    text-align:center;
    margin-top: 10px;
}

main > form > div > input {
    background: hsl(100 50% 100%)
}

main > form > div > input:hover:active:focus {
    background: hsl(100 50% 95%)
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
    
}
.init > form > div > label{
    display: block;
}
