@import 'base.css';

/* ########## Posicion ############## */
div.contenedor{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5em;
    row-gap: 1em;
    border: 1px solid silver;
    background:hsla(250,50%,99%,0.15);
			   
}

div[class*="datos-vivienda"]{
    grid-column: 2/12;
}

div[class*="datos-inquilino"]{
    grid-column: 2/12;
}

div[class*="datos-pagos"]{
    grid-column: 2/12;
    display: flex;
    flex-wrap: wrap;
}

div[class*="datos-pagos"] > h3{
    grid-column: 2/12;
    width: 100%;
    text-align: center;
}

nav.situacional {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/12;
}

div.izquierdo-casa {
    grid-column: 2/12;
}

div.tarjeta {
    background: hsla(10,90%,98%,0.8);
    border-radius: 7px;
    border:1px solid hsla(10, 0%,97%, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Media  */

@media(min-width: 850px){
    body > .contenedor > div[class*="izquierdo-casa"] {
	grid-column: 3/5;
    }
    
    div[class*="datos-vivienda"]{
	grid-column: 5/8;
    }
    
    div[class*="datos-inquilino"]{
	grid-column: 8/11;
    }
    
    div[class*="datos-pagos"]{
	grid-column: 4/10;
    }
    
    nav.situacional {
	display: flex;
	flex-wrap: wrap;
	grid-column: 4/10;
	content-align: center;   
    }
}
/* ########### Estilos ############## */

.situacional > a {
    margin: 10px 10px;
    padding: 7px 10px;
}

div.tarjeta > p {
    margin: 0 15%;
}

div[class*="datos-pagos"] > div {
    max-width: 330px;
    min-width: 280px;
    margin: 0.5em 0.8em;
    font: 1em roboto;
}

div[class*="datos-pagos"] > div > a > * {
    text-decoration: none;
    color: black;
    margin: 0 0;
}
div[class*="datos-pagos"] > div > a {
    text-decoration: none;
}
div[class*="datos-pagos"] > div > a.eliminar {
    background: hsla(10, 80%, 50%, 0.6);
    color:white;
    padding: 0 10px;
}
div[class*="datos-pagos"] > div > a.eliminar:hover, div[class*="datos-pagos"] > div > a.eliminar:active, div[class*="datos-pagos"] > div > a.eliminar:focus {
    background: hsla(10, 80%, 50%, 0.9);
}
div[class*="datos-pagos"] > div:hover, div[class*="datos-pagos"] > div:active, div[class*="datos-pagos"] > div:focus {
    background: hsla(10,90%,98%,0.3);
}
