{% if current_user.is_authenticated %}
{% if current_user.has_role(['poster', 'admin']) %}
<nav class="owner-options">
  <a href="{{ url_for('blog.crea_post') }}"> Nuevo </a>
  {% if contenido %}
  {% if request.url_rule.endpoint == "blog.ver_blog" %}
  {% if current_user.username == contenido.username or current_user.has_role('admin')%}
  <a href="{{ url_for('blog.edit_blog', post_id=post_id) }}"> Edit </a>
  <a href="{{ url_for('blog.delete_blog', blog_id=post_id) }}"> Delete </a>
  
  {% endif %}
  {% endif %}
  {% endif %}
  
</nav>
{% endif %}
{% endif %}
