{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">

{% endblock %}
{% block body %}
<div class="crea-post">
<form method="POST" action="{{ url_for('.edit_blog', post_id=post_id) }}">
   {{ form.hidden_tag() }}
  <div class="titulo">
    {{ form.title.label }}
    {% if form.title.errors %}
    {% for e in form.title.errors %}
    <p class="help-block">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.title }}
  </div>

    <div class="contenido">
    {{ form.content.label }}
    {% if form.content.errors %}
    {% for e in form.content.errors %}
    <p class="help-block">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.content(id="editor", class_='form-control') }}
    </div>

    <div class="tags">
    {{ form.tags.label }}
    {% if form.tags.errors %}
    {% for e in form.tags.errors %}
    <p class="help-block">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.tags }}
      </div>
      
  <input type="submit" value="Editar Post">
</form>
</div>
{% block js %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js">
</script>
<script>
    CKEDITOR.replace('editor');
</script>
{% endblock %}
{% endblock %}
