{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">

{% endblock %}
{% block body %}
{% include "blognavbar.html" %}
<div class="visual-body">

  
  <div class="visual-left">
  </div>
  
<div class="home-visual">
{% for post in contenido.posts %}
<div class="home-post">
  <a href="{{url_for('.ver_blog', post_id=post.id) }}" class="home-title"><h1>{{ post.title }}</h1>
 <p class="home-parrafo contenido">{{ post.content | truncate(120) | safe}}</p>
  <div class="home-tags-container">
    <a href="#" class="home-date">{{ post.date | truncate(20,True) }}</a>
  </a>
  <div>
  {% for tag in post.tags %}<a href="{{ url_for('.busca_etiquetas', tag_name=tag) }}" class="home-tag">{{ tag | capitalize }}</a> 
    {% endfor %}
  </div>
</div>
 
  </div>
{% endfor %}

</div>

<div class="visual-right">
<div class="titulo">
    <h3>Post Recientes</h3>
  </div>  
<div class="posts-recientes">
  {% if contenido.sidebar %}
    {% for post in contenido.sidebar['posts'] %}
    <a href="{{ url_for('.ver_blog', post_id=post.id) }}" > {{ post.title }}</a>
    {% endfor %}
  </div>
<div class="titulo">
       <h3>Tags</h3>
    </div>
  <div class="tags-usados">
    
    {% for tag in contenido.sidebar.tags %}     
    <a href="{{ url_for('.busca_etiquetas', tag_name=tag) }}" class="home-tag"> <img src="/static/img/icon/tag.png" width="18"> {{ tag | capitalize }} ({{ contenido.sidebar.tags[tag]}})</a>
    {% endfor %}
    {% endif %}
  </div>
  
</div>
</div>


{% endblock %}

