{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">

{% endblock %}
{% block body %}
{% include "blognavbar.html" %}
<div class="visual-body">
  <div class="visual-left">
  </div>
  <div class="post-central">
    <h1>{{ contenido.post.title }}</h1>
    <div class="descripcion">
    <small><a href="{{ url_for('.user_post', user_name=contenido.username) }}">{{ contenido.username }}</a></small>
    <small>- Hace {{ contenido.elapsed }} dias.</small></div>
    <div class="contenido">
    <p class="parrafadas">{{ contenido.post.content | safe}}</p>
    </div>
    <div class="tags">
    {% for tag in contenido.post.tags %}
    <a href="{{ url_for('.busca_etiquetas', tag_name=tag)}}">{{ tag }}</a>
    {% endfor %}
    </div>
    <div class="comentarios">
      
      <!-- Comienzo de el formulario de comentarios -->
      {% if current_user.is_authenticated %}
      <form method="POST" action="#">
	{{ form.hidden_tag() }}
	<div>
	  <p>{{ form.content.label }}</p>
	  {% if form.content.errors %}
	  {% for error in form.content.errors %}
	  <p class="help-block"> {{ error }} </p>
	  {% endfor %}
	  {% endif %}
	  {{ form.content(class_='form-control') }}
	</div>
	<input type="submit" value="Comentar">
      </form>
      {% else %}
      <h4> Para dejar un comentario Inicia Session <a href="{{ url_for('auth.login') }}">Log</a>
      </h4>
      {% endif %}
      <!-- Fin del Formulario de comentarios -->
      
      
      <!-- Aqui comienzan los comentarios -->
      <p class="comentarios"><small>{{ contenido.comments | length }}</small> Comentarios</p>
      {% for comment in contenido.comments %}
      <div class="comment">
	<p class="c-username">{{ comment.username }}</p>
	<p class="c-date"> Hace {{ comment.date }} dias.
	  
	  <!-- si el usuario actual es el mismo autor del comentario agrega link de editar-->
	  {% if comment.userid == current_user.id |string  %}
	  <a href="#">Edit</a>
	  {% endif %}
	</p>
	
	<p class="c-comment">{{ comment.comment }}</p>
      </div>
      {% endfor %}
      <!-- Aqui acaban los comentario -->

      
    </div>
  </div>
  <!-- Comienzo de la barra lateral -->
  <div class="visual-right">
    <div class="titulo">
      <h3>Post Recientes</h3>
    </div>  
    <div class="posts-recientes">
      {% for post in contenido.sidebar['posts'] %}
      <a href="{{ url_for('.ver_blog', post_id=post.id) }}" > {{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="titulo">
      <h3>Tags</h3>
    </div>
    <div class="tags-usados">
      
      {% for tag in contenido.sidebar.tags %}     
      <a href="{{ url_for('.busca_etiquetas', tag_name=tag) }}" class="home-tag"> <img src="/static/img/icon/tag.png" width="18"> {{ tag | capitalize }} ({{ contenido.sidebar.tags[tag]}})</a>
      {% endfor %}
    </div>
    
  </div>
</div>
{% endblock %}
