<nav class="navegacion-alquiler">
  
{% if propietarios %}
<a href="{{ url_for('.crea_propietario') }}" class="agregar"><span>+</span> Propietario</a>
{% endif %}

{% if request.url_rule.endpoint == "alquiler.ver_propietario" %}
<a href="{{ url_for('.crea_vivienda') }}" class="agregar"><span>+</span> Vivienda</a>
<a href="{{ url_for('.elimina_propietario') }}" class="eliminar"><span>-</span> Propietario</a>
{% endif %}

{% if request.url_rule.endpoint == "alquiler.ver_vivienda" %}
{% if inquilino %}
<a href="{{ url_for('.ver_inquilino') }}" class="agregar"><span> </span>Pagar</a>
<a href="{{ url_for('.vacear_vivienda') }}" class="eliminar"><span> </span>Mudar</a>
{% else %}
<a href= "{{url_for('.crea_inquilino') }}" class="agregar"><span>+</span> Inquilino</a>
{% endif %}

{% if vivienda %}
<a href="{{ url_for('.eliminar_vivienda')}}" class="eliminar"><span>-</span> Vivienda</a>
{% endif %}
{% endif %}

</nav>
