{% if request.url_rule.endpoint == "alquiler.ver_propietario" %}
{% if informacion.prevision %}
<h4>Prevision:</h4>
<div class="tarjeta-prevision">
  <img src= "/static/img/icon/sun.png" width="40">
  <div>
    
    {% set total_deposito = informacion.prevision.dinero_esperado - informacion.debitar %}
    <p>Prevision: <span><b>{{ informacion.prevision.dinero_esperado |formato_dinero}} </b></span></p>
    <p>A debitar: <span> <b>{{ informacion.debitar  |formato_dinero}}</b></span></p>
    <p>A depositar: <b>{{ total_deposito  |formato_dinero}}</b> </p>
    <p>En: <b>{{ informacion.prevision.vivienda_ocupadas }}</b> casas ocupadas.</p>
  </div>
</div>
{% endif %}
{% if informacion.mensualidad %}
{% if informacion.mes_actual in informacion.mensualidad %}
<h4> Mes Actual</h4>
<div class="tarjeta-relacion">
  <img src= "/static/img/icon/sun.png" width="40">
  <div>
    <p>En el mes: <b>{{ informacion.mes_actual | nombre_mes}}</b> </p>
    <p>Se recaudo: <b> {{ informacion.mensualidad[informacion.mes_actual].total  |formato_dinero}}</b></p>
    <p>De: <b>{{ total_deposito |formato_dinero }}</b></p>
    {% if informacion.propietario[informacion.mes_actual] %}
    <p>Se pago: <b>{{ informacion.propietario[informacion.mes_actual].total_entregado  |formato_dinero }}</b></p>
    {% if informacion.propietario[informacion.mes_actual].total_entregado <= total_deposito %}
    <p>Pendiente: <span style="color:red;">{{ (informacion.propietario[informacion.mes_actual].total_entregado - total_deposito) |formato_dinero}}</span></p>
    {% else %}
    <p>A favor del gestor: <b><span style="color:green;">{{ (informacion.propietario[informacion.mes_actual].total_entregado - total_deposito)  |formato_dinero}}</span></b> </p>
    {% endif %}
    {% else %}
    <p>Falta entregar: <b><span style="color:red;">{{ total_deposito  |formato_dinero}}</span></b></p>
{% endif %}
</div></div>

    
    {% endif %}
   

<h4>Relacion De Pagos</h4>
{% for mensual in informacion.mensualidad %}
{% if mensual != informacion.mes_actual %}
<div class="tarjeta-relacion">
  <img src= "/static/img/icon/sun.png" width="40">
  <div>
    <p>En el mes: <b>{{ mensual | nombre_mes}}</b> </p>
    <p>Se recaudo: <b> {{ informacion.mensualidad[mensual].total  |formato_dinero}}</b></p>
    <p>De <b>{{ total_deposito  |formato_dinero}}</b></p>
    {% if informacion.propietario[mensual] %}
    <p>Se pago: <b>{{ informacion.propietario[mensual].total_entregado  |formato_dinero}}</b></p>
    {% if informacion.propietario[mensual].total_entregado <= total_deposito %}
    <p>Pendiente: <b><span style="color:red;"> {{ (informacion.propietario[mensual].total_entregado - total_deposito) |formato_dinero }}</span></b></p>
    {% else %}
    <p>A favor del gestor: <b><span style="color:green;">{{ (informacion.propietario[mensual].total_entregado - total_deposito)  |formato_dinero}}</span></b></p>
    {% endif %}
    {% else %}
    <p>Falta entregar: <b><span style="color:red;">{{ total_deposito  |formato_dinero}}</span></b></p>
    {% endif %}
</div></div>
{% endif %}
{% endfor %}

{% endif %}
{% endif %}

