{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/alquiler.css" type="text/css">
{% endblock %}
{% block body %}
<div class="contenedor">
  
  <div class="contenido-izquierdo">
    {% if request.url_rule.endpoint == "alquiler.crea_propietario" %}
    <div class="tarjeta-formulario">
      <h3>Crea Propietario</h3>
      <form method="POST" action="{{ url_for('.crea_propietario') }}" class="form-crea-propietario">
	{{ form.hidden_tag() }}
	
	{{ form.nombre.label }}
	{% if form.nombre.errors %}
	{% for e in form.nombre.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.nombre(_class="form-control")}}
	
	{{ form.apellido.label }}
	{% if form.apellido.errors %}
	{% for e in form.apellido.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.apellido(_class="form-control")}}
	
	{{ form.cedula.label }}
	{% if form.cedula.errors %}
	{% for e in form.cedula.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.cedula(_class="form-control")}}
	
	{{ form.telefono.label }}
	{% if form.telefono.errors %}
	{% for e in form.telefono.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.telefono(_class="form-control")}}
	
	{{ form.alias.label }}
	{% if form.alias.errors %}
	{% for e in form.alias.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.alias(_class="form-control")}}

	{{ form.email.label }}
	{% if form.email.errors %}
	{% for e in form.email.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.email(_class="form-control")}}
	
	{{ form.pp_pago.label }}
	{% if form.pp_pago.errors %}
	{% for e in form.pp_pago.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.pp_pago(_class="form-control")}}

	{{ form.usuario.label }}
	{% if form.usuario.errors %}
	{% for e in form.usuario.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.usuario(_class="form-control")}}
	<input type="submit" value="Crear Propietario">   
      </form>
    </div>
    {% endif %}

    {% if request.url_rule.endpoint == "alquiler.crea_vivienda" %}
        <div class="tarjeta-formulario">
      <h3>Crea Vivienda</h3>
      <form method="POST" action="{{ url_for('.crea_vivienda', propietario=propietario) }}">
	{{ form.hidden_tag() }}
      
	{{ form.direccion.label }}
	{% if form.direccion.errors %}
	{% for e in form.direccion.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.direccion(_class="form-control")}}
	
	{{ form.numero.label }}
	{% if form.numero.errors %}
	{% for e in form.numero.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.numero(_class="form-control")}}
	
	{{ form.precio.label }}
	{% if form.precio.errors %}
	{% for e in form.precio.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.precio(_class="form-control")}}
	<input type="submit" value="Crear">
    </form>
    </div>      
      {% endif %}
    
{% if request.url_rule.endpoint == "alquiler.crea_inquilino" %}
    <h3>Crea Inquilino</h3>
    <div class="tarjeta-formulario">
    <form method="POST" action="{{ url_for('.crea_inquilino') }}">
      {{ form.hidden_tag() }}
     
	{{ form.nombre.label }}
	{% if form.nombre.errors %}
	{% for e in form.nombre.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.nombre(_class="form-control")}}
	
	{{ form.apellido.label }}
	{% if form.apellido.errors %}
	{% for e in form.apellido.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.apellido(_class="form-control")}}
	
	{{ form.cedula.label }}
	{% if form.cedula.errors %}
	{% for e in form.cedula.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.cedula(_class="form-control")}}
	
	{{ form.fecha_entrada.label }}
	{% if form.fecha_entrada.errors %}
	{% for e in form.fecha_entrada.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.fecha_entrada(_class="datepicker" )}}
	
	{{ form.email.label }}
	{% if form.email.errors %}
	{% for e in form.email.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.email(_class="form-control")}}
	
	{{ form.telefono.label }}
	{% if form.telefono.errors %}
	{% for e in form.telefono.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.telefono(_class="form-control")}}
	<input type="submit" value="Crear">
    </form>
    </div>
    {% endif %}
  </div>
  
  <div class="contenido-central">
    <h3>INFORMACION</h3>
    <div class="tarjeta-informacion">
      <img src="/static/img/icon/info.png" width="50">
      {% if request.url_rule.endpoint == "alquiler.crea_propietario" %}
      <p>Pagina de Creacion de <b>propietario</b> desde la cual con el usuario <b> {{ usuario }} </b>tienes los permisos para crear un nuevo propietario que quedara registrado en tu cuenta como alguien al que le gestionas sus propiedades.
	.</p>
      {% endif %}
      
      {% if request.url_rule.endpoint == "alquiler.crea_vivienda" %}
      <p>Pagina de Creacion de Vivienda para el Propietario <b>"{{ propietario.nombre }} {{ propietario.apellido }}" </b>, por parte de su gestor <b>{{ usuario }}</b>, la cual se agregara a la cuenta del el gestor antes mecionado, para su gestion</p>
      {% endif %}
      {% if request.url_rule.endpoint == "alquiler.crea_inquilino" %}
      <p>Pagina de creacion de inquilino. En esta pagina crearas un inquilino para la vivienda {{ vivienda.direccion }} numero {{ vivienda.numero }}</p>
      {% endif%}
    </div>
    {% if request.url_rule.endpoint == "alquiler.crea_inquilino" %}
    <div class="tarjeta-informacion-vivienda">
      <img src="/static/img/icon/persona.png" width="50">
      <div>
       <p>Direccion: {{ propietario.nombre | upper}} {{ propietario.apellido }}</p>
       <p>Altura: {{ propietario.telefono | upper}}</p>
       <p>Mensualidad: {{ propietario.email |title}}0 RD$</p>
      </div>
    </div>
    <div class="tarjeta-informacion-vivienda">
      <img src="/static/img/icon/edificio.png" width="50">
      <div>
       <p>Direccion: {{ vivienda.direccion | upper}}</p>
       <p>Altura: {{ vivienda.numero | upper}}</p>
       <p>Mensualidad: {{ vivienda.precio }}0 RD$</p>
      </div>
    </div>
     {% endif %}
  </div>
  <div class="contenido-derecho">
  </div>
</div>
{% endblock %}
