<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/static/css/receipt.css">
    <title>pago
    </title>
    </head>
  <body>
    <div id="app"></div>
    <h2>RECIBO:</h2>
    <h2>PAGO DE ALQUILER</h2>
    <h4>Inquilino: {{ inquilino.nombre | upper}} {{ inquilino.apellido | upper}}</h4>
    <h5>Direccion: {{vivienda['direccion'] | upper}}</h5>
    <h5>Altura: {{ vivienda.numero }}</h5>
    <h4>Catidad Pagada: {{ pago.cantidad }}.00 RD$</h4>
    <h4>Mensualidad: {{ pago.mes | nombre_mes}}</h4>
    <h4>En Fecha: {{ fecha | date_format}}</h4>
    <h4>Notas: <small>{{ pago.nota }}</small></h4>
    <h6> Al aceptar este recibo firmado comfirmas la veracidad de los datos que en el se encuentren impresos, recuerda que a partir de la fecha de pago del contrato tienes 7 dias naturales para efectuar el pago del mes, de lo contrario se te agravaria con moras que seria de 500.00 RD$ por cada mes que no se efectue el pago correspondiente.</h6>
    <h5>En representacion de:</h5>
    <h5>{{ propietario.nombre | upper}} {{ propietario.apellido | upper}}</h5>
    <h4>{{current_user.username}}</h4>

    <h6>San Cristobal</h6>
    <h6>Republica Dominicana</h6>
    <h6>2020</h6>
    
    
    </body>
  </html>
