<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="/static/css/receipt.css">
    <title>pago</title>
    </head>
  <body>
    <div id="app">
 <h3>RENDICION DE CUENTAS</h3>
    <h4>PROPIETARIO</h4>
	 <p>{{ propietario.nombre | upper}} {{ propietario.apellido | upper}} </p>
	 <p>{{ propietario.cedula }}</p>
	 <p>{{ propietario.email }}</p>
	 <p>{{ propietario.telefono }}</p>
	 <h5> DESCRIPCION</h5>
	 <p>El <b>{{ fecha | date_format}}</b> se realizo un desembolso a favor de <b>{{ propietario.nombre| upper}} {{ propietario.apellido | upper}}</b> por concepto de <b>"{{ pago.nota | title}}" </b> por medio a pago por <b>{{ pago.forma_pago | upper}}</b> por parte del gestor. </p><p>La cantidad de <b>{{ pago.cantidad }}</b></p>
	 <h1>_______________________</h1>
	 <p><b>SAN CRISTOBAL</b></p>
	 <p><b>REPUBLICA DOMINICANA</b></p>
	 <p><b> EN FECHA </b> {{ fecha }}</p>
	 <p> Impreso Por: {{ usuario.username }}</p>
	 <h1>_______________________</h1>
	 
    </div>
    </body>
  </html>
