{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/alquiler.css" type="text/css">
{% endblock %}
{% block body %}
<div class="contenedor">
  {% if not current_user.has_role('propietario')%}
  {% include "alternate_nav.html" %}
  {% endif %}
  <div class="contenido-izquierdo">
  {% include "barra_izquierda.html" %}
  </div>
  <div class="contenido-central">
    
    {% if propietarios %}
    <h2> PROPIETARIOS: </h2>
    {% for propietario in propietarios.propietarios %}
    <a href="{{ url_for('.ver_propietario', indice=loop.index0 )}}">
      <div class="tarjeta-propietario">
	
	<img src="/static/img/icon/monopoly1.png" width=110>
	<div class="sub-tarjeta">
	  <p>{{ propietario.nombre | upper}}</p>
	  <p>{{ propietario.apellido | upper}}</p>
	  <p>Viviendas: {{ propietario.viviendas | length }}</p>
	  
	</div>
      </div>
    </a>
    {% endfor %}
    {% endif %}
    {% if propietario %}
    <h2>PROPIETARIO:</h2>
    <div class="tarjeta-propietario">
      <img src="/static/img/icon/monopoly.png" width=110px>
      <div class="sub-tarjeta">
	<p>{{ propietario.nombre | upper}}</p>
	<p> {{ propietario.apellido | upper }}</p>
	<p> {{ propietario.cedula }}</p>
	<p> <a href="mailto:{{ propietario.email }}">{{ propietario.email }}</p>
	<p> <a href="tel:{{ propietario.telefono }}">{{ propietario.telefono}}</a></p>
	<p>Viviendas: {{ propietario.viviendas | length }}</p>
      </div>
    </div>
    
    {% if  propietario.viviendas %}
    <h2>VIVIENDAS:</h2>
    {% for vivienda in propietario.viviendas %}
    <a href="{{ url_for('.ver_vivienda', indice =loop.index0)}}">
      <div class="tarjeta-vivienda">
	<img src="/static/img/icon/edificio.png" width=100px>
	 <div class="sub-tarjeta">
      <p>{{ vivienda.direccion  |upper}}</p>
      <p>{{ vivienda.numero | upper}}</p>
      <p> {{ vivienda.precio }}0 RD$</p> 
	 </div>
       </div>
    </a>
    {% endfor %}
    
    {% endif %}
     <div class="tarjeta-pago">
    
       {% if not current_user.has_role('propietario') %}
       <form method="POST" action="{{ url_for('.ver_propietario', indice=prop_indice) }}" class="form-pago">
<h3>Realizar Pago</h3>
      {{ pago_form.hidden_tag() }}

	{{ pago_form.cantidad.label }}
	{% if pago_form.cantidad.errors %}
	{% for e in pago_form.cantidad.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ pago_form.cantidad(_class="form-control")}}

	{{ pago_form.mes.label }}
	{% if pago_form.mes.errors %}
	{% for e in pago_form.mes.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ pago_form.mes(_class="form-control")}}

	{{ pago_form.forma_pago.label }}
	{% if pago_form.forma_pago.errors %}
	{% for e in pago_form.forma_pago.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ pago_form.forma_pago(_class="form-control")}}

	{{ pago_form.nota.label }}
	{% if pago_form.nota.errors %}
	{% for e in pago_form.nota.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ pago_form.nota(_class="form-control")}}

       <input type="submit" value="Agregar Pago">
       </form>
       {% endif %}
    </div>

     {% for pago in propietario.pagos %}
     <div class="tarjeta-pagos">
	<img src="/static/img/icon/money.png" width=60px>
	<a href="{{ url_for('.ver_pago_propietario', indice=loop.index0) }}">
	  
	<div class="carta-pago">
	  <p>Pago Del Mes: {{ pago.mes | nombre_mes}}</p>
	  <p>Por La Cantidad: {{ pago.cantidad }}</p>
	  <p>Forma De Pago: {{ pago.forma_pago}} </p>
	  <p>Comentario: {{ pago.nota }}</p>
	  <p>{{ pago.fecha | date_format}}</p>
	  
	</div>
	</a>
	{% if not current_user.has_role('propietario') %}
	<a href="{{ url_for('.elimina_pago_propietario', indice=loop.index) }}"class="eliminar">- Borrar</a>
	{% endif %}
      </div>

    {% endfor %}
    {% endif %}
  </div>
  <div class="contenido-derecho">
    {% if request.url_rule.endpoint == "alquiler.ver_propietario" %}
    
    <div class="tarjeta-formulario">
      
      <form method="POST" action="{{ url_for('.ver_propietario', indice=prop_indice) }}" class="form-nota">
	<h3>Agrega Comentario</h3>
      {{ nota_form.hidden_tag() }}
	{% if nota_form.comentario.errors %}
	{% for e in nota_form.comentario.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ nota_form.comentario(_class="form-control")}}
	 <input type="submit" value="Agregar Nota">
      </form>
    </div>
    
    {% for nota in propietario.notas %}
    <div class="tarjeta-nota">
      <img src="/static/img/icon/blog.png" width=40px>
      <div class="sub-tarjeta">
	<p>{{ nota | safe}}</p>
      </div>
       {% if not current_user.has_role('propietario') %}
      <a href="{{ url_for('.elimina_nota_propietario', indice=loop.index) }}" class="eliminar"> Eliminar</a>
      {% endif %}
    </div>
    {% endfor %}
    
    {% endif %}
  </div>
</div>
{% endblock %}


