{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/inquilino.css">
{% endblock %}
{% block body %}
<div class="contenedor">

  <div class="lateral-izquierdo">
    <h3>Realizar un Pago</h3>
    <form method="POST" action="{{ url_for('.ver_inquilino') }}">
      {{ form.hidden_tag() }}

	{{ form.cantidad.label }}
	{% if form.cantidad.errors %}
	{% for e in form.cantidad.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.cantidad(_class="form-control")}}

	{{ form.mes.label }}
	{% if form.mes.errors %}
	{% for e in form.mes.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.mes(_class="form-control")}}

	{{ form.forma_pago.label }}
	{% if form.forma_pago.errors %}
	{% for e in form.forma_pago.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.forma_pago(_class="form-control")}}

	{{ form.nota.label }}
	{% if form.nota.errors %}
	{% for e in form.nota.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.nota(_class="form-control")}}

       <input type="submit" value="Agregar Pago">
    </form>
  </div>
</div>

 {% endblock %}
