<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/receipt.css">
    <title>receipt</title>
    </head>
  <body>
    <div id="app"></div>
    <div class="central">
      <div class="sub-grid">
	 {% if request.url_rule.endpoint == "alquiler.ver_pago" %}
    <h2>RECIBO:</h2>
    <h2>PAGO DE ALQUILER</h2>
    <h4>Inquilino: {{ inquilino.nombre | upper}} {{ inquilino.apellido | upper}}</h4>
    <h5>Direccion: {{vivienda['direccion'] | upper}}</h5>
    <h5>Altura: {{ vivienda.numero }}</h5>
    <h4>Catidad Pagada: {{ pago.cantidad }}.00 RD$</h4>
    <h4>Mensualidad: {{ pago.mes | nombre_mes}}</h4>
    <h4>En Fecha: {{ pago.fecha | date_format}}</h4>
    <h4>Notas: <small>{{ pago.nota }}</small></h4>
	 <p>Verificacion</p>
	 <p><img src="/static/img/qrcode.png"></p>
    <h6> Al aceptar este recibo firmado comfirmas la veracidad de los datos que en el se encuentren impresos, recuerda que a partir de la fecha de pago del contrato tienes 7 dias naturales para efectuar el pago del mes, de lo contrario se te agravaria con moras que seria de 500.00 RD$ por cada mes que no se efectue el pago correspondiente.</h6>   
    <h5>En representacion de:</h5>
    <h5>{{ propietario.nombre | upper}} {{ propietario.apellido | upper}}</h5>
    <h4>{{current_user.username}}</h4>

    <h6>San Cristobal</h6>
    <h6>Republica Dominicana</h6>
    <h6>2020</h6>
    {% endif %}
    {% if request.url_rule.endpoint == "alquiler.ver_pago_propietario" %}
    <h3>RENDICION DE CUENTAS</h3>
    <h4>PROPIETARIO</h4>
	 <p>{{ propietario.nombre | upper}} {{ propietario.apellido | upper}} </p>
	 <p>{{ propietario.cedula }}</p>
	 <p>{{ propietario.email }}</p>
	 <p>{{ propietario.telefono }}</p>
	 <h5> DESCRIPCION</h5>
	 <p>El <b>{{ pago.fecha | date_format}}</b> se realizo un desembolso a favor de <b>{{ propietario.nombre| upper}} {{ propietario.apellido | upper}}</b> por concepto de <b>"{{ pago.nota | title}}" </b> por medio a pago por <b>{{ pago.forma_pago | upper}}</b> por parte del gestor. </p><p>La cantidad de <b>{{ pago.cantidad }}</b></p>
	  <p>Verificacion</p>
	 <img src="/static/img/qrcode.png" width="40">
	 <h1>_______________________</h1>
	 <p><b>SAN CRISTOBAL</b></p>
	 <p><b>REPUBLICA DOMINICANA</b></p>
	 <p><b> EN FECHA </b> {{ fecha }}</p>
	 <p> Impreso Por: {{ usuario.username }}</p>
	 <h1>_______________________</h1>
	 
	 {% endif %}

	 
  </div>
</div>
    </body>
  </html>
 
