<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/alquiler.css">
    <title>Visual Inquilino</title>
    </head>
  <body>
    <div class="contenedor">
    <div class="contenido-izquierdo">
</div>


    <div class="contenido-central">
      <div class="tarjeta-form">
<form method="POST" action="{{ url_for('.inquilino_visualizacion') }}" class="visual-inquilino">
      {{ form.hidden_tag() }}

      <p><b>IDENTIFICACION</b></p>
	{% if form.cedula.errors %}
	{% for e in form.cedula.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ form.cedula(_class="form-control")}}
	
	<input type="submit" value="Ver">
</form>
      </div>
{% if content %}
      {% if content.vivienda %}
      <h4>Datos Inquilino</h4>
      <div class="tarjeta-datos-inquilino">
	<img src="/static/img/icon/persona.png" width="80">
	<div>
	<p>{{ content.vivienda.inquilino.nombre }} {{ content.vivienda.inquilino.apellido }}</p>
	<p>Cedula: <b>{{ content.vivienda.inquilino.cedula }}</b></p>
	<p>Email: {{ content.vivienda.inquilino.email }}</p>
	<p>Fecha Contrato: {{ content.vivienda.inquilino.fecha_entrada | date_format}} </p>
	</div>
      </div>
      <h4>Datos Vivienda</h4>
      <div class="tarjeta-vivienda">
		<img src="/static/img/icon/alquiler.png" width="80">
	<div>
	<p>Direccion:{{ content.vivienda.direccion | title}}</p>
	<p>Numero: <b>{{ content.vivienda.numero }}</b></p>
	<p>Precio: {{ content.vivienda.precio | formato_dinero}}</p>
	</div>
      </div>
      {% if content.vivienda.inquilino.pagos %}
      <h4>Datos Pagos</h4>
      {% for pago in content.vivienda.inquilino.pagos %}
	<a href="{{url_for('.ver_pago', indice=loop.index0)}}">
      <div class="tarjeta-pago">

	  <img src="/static/img/icon/money.png" width="80">
	  <div>
	  <p>Mes: {{ pago.mes | nombre_mes }}</p>
	  <p>Fecha: {{ pago.fecha | date_format }}</p>
	  <p>Cantidad: {{ pago.cantidad | formato_dinero }}</p>
	  <p>Forma De Pago:{{ pago.forma_pago }}</p>
	  <p>Comentario: {{ pago.nota }}</p>
	  </div>
      </div>
      </a>
      {% endfor %}
      {% endif %}
{% endif %}
{% endif %}
</div>
<div class="contenido-derecho">
</div>
    </div>
    </body>
  </html>
