{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/alquiler.css" type="text/css">
{% endblock %}
{% block body %}

<div class="contenedor">
  {% if not current_user.has_role('propietario')%}
  {% include 'alternate_nav.html' %}
  {% endif %}
  <div class="contenido-izquierdo">
  </div>
  <div class="contenido-central">
     {% if propietario %}
    <h3>Propietario</h3>
    <div class="tarjeta-propietario">
      <img src="/static/img/icon/landlord.png" width=60px>
      <div class="sub-div">
	<p><a href="{{ url_for('.ver_propietario', indice=prop_indice)}}">{{propietario.nombre | title}} {{ propietario.apellido | title}}</a></p>
	<p>Identificacion - {{ propietario.cedula }}</p>
	<p><a href="mailto:{{propietario.email }}">{{ propietario.email }}</a></p>
	<p><a href="tel:{{ propietario.telefono }}">{{ propietario.telefono }}</a></p>
      </div>
    </div>
    {% endif %}
    <h3>Vivienda:</h3> 
    <div class="tarjeta-vivienda">
      <img src="/static/img/icon/edificio.png" width=50px>
      <div class="sub-tarjeta">
	<p>{{ vivienda.direccion | title}}</p>
	<p>{{ vivienda.numero | upper}}</p>
	<p>{{ vivienda.precio }}0 RD$</p>
      </div>
    </div>
    {% if inquilino %}
    <h3>Inquilino</h3>
    <div class="tarjeta-inquilino">
      <img src="/static/img/icon/persona.png" width=60px>
      <div class="sub-div">
	<p>{{inquilino.nombre | title}} {{ inquilino.apellido | title}}</p>
	<p>Identificacion - {{ inquilino.cedula }}</p>
	<p><a href="mailto:{{inquilino.email }}">{{ inquilino.email }}</a></p>
	<p><a href="tel:{{ inquilino.telefono }}">{{ inquilino.telefono }}</a></p>
	<p>Desde: {{ inquilino.fecha_entrada | date_format }}</p>
      </div>
    </div>
    {% if inquilino.pagos %}
    <div class="pre-tarjeta">
      <h3>Pagos</h3>
      {% for pago in inquilino.pagos %}
      <div class="tarjeta-pagos">
	<img src="/static/img/icon/money.png" width=60px>
	<a href="{{ url_for('.ver_pago', indice=loop.index0) }}">
	  
	<div class="carta-pago">
	  <p>Pago Del Mes: {{ pago.mes | nombre_mes}}</p>
	  <p>Por La Cantidad: {{ pago.cantidad }}</p>
	  <p>Forma De Pago: {{ pago.forma_pago}} </p>
	  <p>Comentario: {{ pago.nota }}</p>
	  <p>{{ pago.fecha | date_format}}</p>
	  
	</div>
	</a>
	{% if not current_user.has_role('propietario')%}
	<a href="{{ url_for('.elimina_pago', indice=loop.index) }}"class="eliminar">- Borrar</a>
	{% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
  </div>
  <div class="contenido-derecho">
     {% if request.url_rule.endpoint == "alquiler.ver_vivienda" %}
    <div class="tarjeta-formulario">
      
      <form method="POST" action="{{ url_for('.ver_vivienda', indice=prop_indice) }}" class="form-nota">
	<h3>Agrega Comentario</h3>
	{{ nota_form.hidden_tag() }}
	{% if nota_form.comentario.errors %}
	{% for e in nota_form.comentario.errors %}
	<p class="help-block">{{ e }} </p>
	{% endfor %}
	{% endif %}
	{{ nota_form.comentario(_class="form-control")}}
	 <input type="submit" value="Agregar Nota">
    </form>
    </div>

    {% for nota in vivienda.notas %}
    <div class="tarjeta-nota">
      <img src="/static/img/icon/blog.png" width=40px>
      <div class="sub-tarjeta">
	<p>{{ nota | safe}}</p>
      </div>
      {% if not current_user.has_role('propietario')%}
      <a href="{{ url_for('.elimina_nota_vivienda', indice=loop.index0) }}" class="eliminar"> Eliminar</a>
      {% endif %}
    </div>
    {% endfor %}
    
    {% endif %}
  </div>
</div>

<br>



{% endblock %}
