/* Flex el contenido */

body, nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

body{
    flex-direction: column;
}

/* #################  Header ############################ */
div.cabezera{
    background: hsl(210, 50%, 25%);
    padding: 10px 0 10px 0;
    text-align: center;
    color: white;
    font: bold small-caps 2em times;
}

/* ############### NavBar ##################### */
#nav-left a:not(:first-child) {
    padding: 7px 10px 4px 4px;
    border-right: 1px solid blue;
    border-left: 1px solid blue;
    margin-left: 3px;
}
#nav-left > a:hover,#nav-left > a:active , #nav-left > a:focus{
    background: hsl(255,90%,98%)

}
#nav-left > a:first-child {
    /* padding-left: 4px; */
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    padding: 7px 10px 4px 4px;

}


/* ########################## Messages ############################ */
ul.flashes > li.success {
    background: hsl(140,80%,90%)
}

ul.flashes > li.danger {
    background: hsl(0,80%,80%);
    /* color: white; */
}


/* ################### Navegacion Author ######################## */

nav.owner-options {
    diplay: flex;
    justify-content: flex-start;
}

nav.owner-options > a {
    /* margin-left: 0.7vw; */
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
    padding: 4px;
    border-radius: 7px;
    background: hsl(255,50%,98%);
    text-decoration: none;
    color: hsl(150, 90%,15%);
    border-bottom: 1px solid green;
    border-right: 0.8px solid green;
}
nav.owner-options > a:first-child {
    margin: 0.8vh 7px 0.8vh 2vw;
    
}

nav.owner-options > a:hover, nav.owner-options > a:active, nav.owner-options > a:focus {
    background: hsl(120,50%, 60%);
    color: white;
}



/* ###################### FOOTER ######################## */
#footer {
    background: hsl(210, 50%, 25%);
    color: white;
    text-align: center;
}
#footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}
#footer div.social > a:not(:last-child)::after{
    content: " - "
}

#footer a:hover {
    color: hsl(10,90%,95%);
    text-decoration: underline;
}
