/* ####### En Home ###### */

@import "base.css";

/* ################ HOME ############### */

.visual-body {
    display:grid;
    grid-template-columns: 15% 55% 30%;
}

.home-visual {
    display:grid;
    background: silver;
    grid-template-columns: 33% 34% 33%;
}

div.home-post {
    background: white;
    margin-left: 3px;
    margin-top: 5px;
    padding: 10px;
}
