@import 'base.css'

/* ################# Crea Post ############ */
.crea-post{
    grid-column: 1/7;
    display: flex;
}
.crea-post > form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.titulo {
    grid-column: 1/13
}
.contenido {
    grid-column: 1/13
}
.tags{
    grid-column: 1/13
}
input[type="submit"] {
    grid-column: 1/13;
    background: darkgreen;
    color:white;
    height: 40px;
    font: 800 small-caps 1.3em roboto;
}

/* ##################### Media query ############################## */
@media(min-width: 600px){
.crea-post{
    grid-column: 2/6;
}
    
.crea-post{
    grid-column: 2/6;
    display: flex;
}
.crea-post > form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.titulo {
    grid-column: 4/11;
    margin: 1em;
}
.contenido {
    grid-column: 4/11;
}
.tags{
    grid-column: 4/11;
    margin: 1em;
}
input[type="submit"]{
    grid-column: 5/10;
    background: darkgreen;
    color:white;
    height: 40px;
    font: 800 small-caps 1.3em roboto;
}
}
