<footer id="footer">
<div>
  <p class="pie">MaxsolInf 2020 </p>
  
  <a class= "pie emailto" href="mailto:maxsolinf@gmail.com"><img src="/static/img/icon/solicitud.png" width="50px"><br>Email-me</a>
</div>
<div class="social">
  
<a href="https://twitter.com/maxaltepo" class="redes"><img src="/static/img/icon/twitter.png" width="50px"></a>
<a href="https://www.facebook.com/maximoalessandry/" class="redes"><img src="/static/img/icon/facebook.png" width="50px"></a>
<a href="#" class="redes"><img src="/static/img/icon/instagram.png" width="50px"></a>
<a href="https://www.linkedin.com/in/maximo-alessandry-tejeda-pozo-89755449" class="redes"><img src="/static/img/icon/linkedin.png" width="50px"></a>
<a href="tel:18096602625" class="redes"><img src="/static/img/icon/contacto.png" width="50px"></a>

</div>

</footer>
