{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}
{% block body %}
<div class="visual-body">
  <div class="opciones">
    <a href="{{ url_for('alquiler.admin_home')}}" class="alquiler">
      <div class="alquiler">
	<img src="/static/img/icon/alquiler.png" width=100px>
   
    <p>Alquilers</p>
    </div> </a>
    <a href="{{ url_for('blog.blog_home') }}" class="blog">
      <div class="blog">
	<img src="/static/img/icon/blog.png" width=100px>
    <p>Blog</p>
    </div>
     </a>
    <div class="ciudadanos">
      <p>Ciudadanos</p>
  </div>
  <div class="mapas">
    <p>Mapas</p>
  </div>
</div>
</div>

{% endblock %}
