
<nav id="navegador">
  <div id="nav-left">
    <a href="{{ url_for('main.front_page')}}">Inicio</a>
    <a href="{{url_for('blog.blog_home') }}">Blog</a>
    {% if current_user.is_authenticated %}
    {% if current_user.has_role('admin') %}
    <a href="{{url_for('auth.administra')}}">Admin</a>
    {% endif %}
    {% endif %}
  </div>
  <div id="nav-right">
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth.login') }}" class="inicio">Login</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="#" class="usuario">Usuario</a>
    <a href="{{ url_for('auth.logout') }}" class="fin">Fin Sesion</a>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <a href="{{url_for('auth.register')}}" class="crea">Registrar</a>
    {% endif %}
  </div>
</nav>
