{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/auth.css">
{% endblock %}
{% block body %}
<div class="lateral-izquierdo">
</div>
<div class="lateral-central">
  <div class="formulario">
<form method="POST" action="{{ url_for(request.url_rule.endpoint) }}">
  <div> <h3>{{ titulo }}</h3></div>
  <div class="login">
    {{ form.hidden_tag() }}
    <div>
      {{ form.usuario.label }}
      {% if form.usuario.errors %}
      {% for e in form.usuario.errors %}
      <p>{{ e }}</p>
      {% endfor %}
      {% endif %}
      {{ form.usuario }}
    </div>
    <div>
      {{ form.atributo.label }}
      {% if form.atributo.errors %}
      {% for e in form.atributo.errors %}
      <p>{{ e }}</p>
      {% endfor %}
      {% endif %}
      {{ form.atributo }}
    </div>
    <div>
      {{ form.operacion.label }}
      {% if form.operacion.errors %}
      {% for e in form.operacion.errors %}
      <p>{{ e }}</p>
      {% endfor %}
      {% endif %}
      {{ form.operacion }}
    </div>
    <input type="submit" value="Ejecutar">
  </div>
</form>
  </div>
</div>
<div class="lateral-derecho">
</div>
{% endblock %}
