{% extends 'base.html'%}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/auth.css">
{% endblock %}
{% block body %}
<div class="lateral-izquierdo">
</div>

<div class="lateral-central">
  <div class="tarjeta-central">
    
    <a href="{{url_for('.administra_roles')}}">
      <img src="/static/img/icon/permission.png" width="100">
      <p>Administrar Role</p></a>
  </div>
  <div class="tarjeta-central">
    <a href="{{url_for('.administra_propietarios')}}">
      <img src="/static/img/icon/landlord.png" width="100">
      <p> Administrar Propietarios</p></a>
  </div>
</div>

<div class="lateral-derecho">
  
</div>

{% endblock %}
