{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" type="text/css" href="/static/css/login.css">
{% endblock %}
{% block body %}
<main class="inicio">
  <form method="POST" action="{{ url_for('.login') }}">
    <div> <h3>Introduce Tus Datos Para Iniciar Sesion</h3></div>
    <div class="login">
      
    
    {{ form.hidden_tag() }}
<div>
      {{ form.username.label }}
      {% if form.username.errors %}
      {% for e in form.username.errors %}
      <p>{{ e }}</p>
      {% endfor %}
      {% endif %}
      {{ form.username }}
</div>
<div>
      
      {{ form.password.label }}
      {% if form.password.errors %}
      {% for e in form.password.errors %}
      <p>{{ e }}</p>
      {% endfor %}
      {% endif %}
      {{ form.password }}
</div>
<div>
      {{ form.remember.label }}
      {% if form.remember.errors %}
      {% for e in form.remember.errors %}
      <p>{{ e }}</p>
      {% endfor %}
      {% endif %}
      {{ form.remember }}
</div>
    <input type="submit" value="Iniciar Sesion">
    </div>
  </form>
</main>
{% endblock %}
