{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/register.css">
{% endblock %}
{% block body %}
<main class="init">
<form method="POST" action="{{ url_for('.register') }}">
  {{ form.hidden_tag()}}
  <div>
    {{ form.username.label }}
    {% if form.username.errors%}
    {% for e in form.username.errors %}
    <p>{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.username }}
  </div>
    <div>
    {{ form.password.label }}
    {% if form.password.errors%}
    {% for e in form.password.errors %}
    <p>{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.password }}
  </div>
  <div>
    {{ form.confirm.label }}
    {% if form.confirm.errors%}
    {% for e in form.confirm.errors %}
    <p>{{ e }}</p>
    {% endfor %}
    {% endif%}
    {{ form.confirm }}
  </div>
  <div>
    {{ form.email.label }}
    {% if form.email.errors%}
    {% for e in form.email.errors %}
    <p>{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.email }}
  </div>
  <div class="form-group">
    {{ form.recaptcha.label }}
    {% if form.recaptcha.errors %}
    {% for e in form.recaptcha.errors %}
    <p class="help-block">{{ e }}</p>
    {% endfor %}
    {% endif %}
    {{ form.recaptcha() }}
  </div>
  <div>
    <input type="submit" value="Registrar">
  </div>
</form>
</main>
{% endblock %}
